form{
    width: 90%;
    max-width: 600px;
    margin: auto;
    height: 80px;
    display: flex;
    align-items: center;
    background: #434989;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
input{
    flex: 1;
    height: 100%;
    border: 0;
    outline: 0;
    font-size: 20px;
    padding: 0 20px;
    border-radius: 8px;
    background: transparent;
    color: white;
}
button{
    padding: 0 40px;
    height: 100%;
    font-size: 18px;
    border: 0;
    outline: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
}
::placeholder{
    color: white;
    font-size: 20px;
}