*{
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}

body{
  background: #15202b;
  color: whitesmoke;
}
h1{
  text-align: center;
  margin: 100px auto 50px;
  font-weight: 600px;
}

@media only screen and (max-width: 480px) {
  h1 {
    font-size: x-large;
  }

  .menu {
    display: none; /* ซ่อนเมนูที่ไม่จำเป็น */
  }
}

  